.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.appNav {
  display: flex;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: black;
  width: 100%;
  color: wheat;
  border-radius: 10rem;
  margin: 5rem;
}

.store {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
